@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

html,
body {
  height: 100%;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #111111;
  color: #f0f6fc;
}

/* ヘッダー */
.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  padding: 10px;
  justify-content: space-between;
  width: 100%;
  z-index: 1000;
  background-color: #111111;
  backdrop-filter: blur(10px);
}

#languageBox {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
}

#languageDropdown {
  display: none;
  position: absolute;
  background-color: rgb(36, 36, 36);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1;
  border-radius: 10px;
  color: #dadada;
}

#languageDropdown a {
  display: block;
  color: #dadada;
  padding: 8px;
  text-decoration: none;
  cursor: pointer;
}

#languageDropdown a:hover {
  color: #686868;
}

.left-links {
  order: 1;
}

.right-links {
  order: 2;
  margin-right: 19px;
}

.header-a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
  transition: 0.5s;
}

.header-a:hover {
  color: #ffffffb6;
}

.header-b {
  text-decoration: none;
  color: #fff;
  margin-right: 10px;
}

.header-b:hover {
  text-decoration: underline;
}

.header-bar {
  text-decoration: none;
  color: #fff;
  margin: 0;
  margin-right: 8px;
  margin-left: -4px;
}

.fa-brands {
  font-size: 18px;
  transition: 0.5s;
}

.fa-brands:hover {
  color: rgb(194, 194, 194);
}

/* メイン */
main {
  max-width: 1100px;
  margin: 35px auto 0;
  display: flex;
}

section {
  max-width: 100%;
  border: 1px solid #2e2e2e;
  padding: 20px 20px 40px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

section h2 {
  color: #cfcfcf;
  font-size: 20px;
}

section h3 {
  color: #cfcfcf;
  font-size: 17px;
}

section p {
  color: #bebebe;
}

/* ナビ */
.nav-container {
  min-width: 250px;
  height: calc(100vh - 35px);
  background-color: #111111;
  position: sticky;
  top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px 10px;
  border-right: 1px solid #333333;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.nav-item {
  padding: 10px 10px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
  border-radius: 10px;
}

.nav-item:hover {
  background-color: #ffffff05;
}

.koko {
  background-color: #ffffff0a;
  color: #fff;
}

.nav-item i {
  margin-right: 10px;
  width: 20px;
  text-align: center;
}

.nav-link {
  text-decoration: none;
  font-size: 16px;
  color: #bebebe;
}

.bottom-links {
  border-top: 1px solid #333333;
  padding-top: 20px;
  margin-top: auto;
}

.category-title {
  font-size: 10px;
  text-transform: uppercase;
  color: #888888;
  padding: 20px 10px 10px;
  margin: 0;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.content h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.settings-section {
  background-color: #1c1c1c;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

/* Style */
a {
  color: #ffffff63;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

h3 {
  margin-top: 25px;
  margin-bottom: 0px;
  color: #cfcfcf;
}

input,
textarea {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #dcdcdc67;
  background-color: #111111;
  border-radius: 4px;
  margin-bottom: 15px;
  color: #979797;
  transition: all 0.3s;
}

input:hover,
textarea:hover {
  border: 1px solid #dcdcdc9c;
  background-color: #111111;
}

input:focus,
textarea:focus {
  border: 1px solid #dcdcdc9c;
  background-color: #111111;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #979797 !important;
  -webkit-box-shadow: 0 0 0 30px #111111 inset !important;
  transition: background-color 5000s ease-in-out 0s;
}

textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-text-fill-color: #979797 !important;
  -webkit-box-shadow: 0 0 0 30px #111111 inset !important;
  transition: background-color 5000s ease-in-out 0s;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-size: 15px;
  margin-bottom: 5px;
  color: #d8d8d8;
}

button {
  background-color: #1b1b1b;
  color: #cfcfcf;
  border: 1px solid #414141;
  cursor: pointer;
  margin-top: 5px;
  padding: 10px 15px;
  transition: all 0.3s;
  border-radius: 4px;
}

button:hover {
  border: 1px solid #636363;
  background-color: #1b1b1b;
}

.invalid-btn {
  font-size: 14px;
  padding: 10px 25px;
  margin-right: 10px;
  border: none;
  background-color: #3a3a3a;
  color: #cfcfcf;
  border: 1px solid #5e5e5e;
  border-radius: 3px;
  cursor: default;
  margin-top: 0;
  min-width: 80px;
}

.invalid-btn:hover {
  background-color: #3a3a3a;
  color: #cfcfcf;
  border: 1px solid #5e5e5e;
}

.button-warning {
  background-color: #271511;
  color: #cfcfcf;
  border: 1px solid #352521;
  cursor: pointer;
  margin-top: 5px;
  padding: 10px 15px;
  transition: all 0.3s;
  border-radius: 4px;
}

.button-warning:hover {
  background-color: #271511;
  border: 1px solid #4d332d;
}

input[type="submit"] {
  background-color: #4caf50;
  color: #ffffff;
  border: 1px solid #63e267;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  width: calc(100% - 10px);
  margin-top: 30px;
}

input[type="submit"]:hover {
  background-color: #3d8b3f;
  color: #ffffff;
  border: 1px solid #4caf50;
}

select {
  padding: 8px 10px;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  background-color: #1b1b1b;
  color: #cfcfcf;
  border: 1px solid #2e2e2e;
  cursor: pointer;
}

select:focus {
  outline: none;
  border: 1px solid #5c5c5c;
}

.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5px;
  border: 1px solid #2b2b2b;
  border-radius: 5px;
  margin-top: 15px;
}

.link i {
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 25px;
}

.link p {
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 10px;
}

.link h2 {
  margin: 0;
  font-size: 15px;
}

.link .title {
  margin: 0;
  font-size: 15px;
}

.settings-btn {
  font-size: 14px;
  padding: 10px 25px;
  margin-right: 10px;
  border: none;
  background-color: #1b1b1b;
  color: #cfcfcf;
  border: 1px solid #414141;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 0;
}

.settings-btn:hover {
  border: 1px solid #636363;
  background-color: #1b1b1b;
}


/* 通知 */
.notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ffffff07;
  border: 1px solid #353535;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s, transform 0.3s;
  display: flex;
  align-items: center;
  min-width: 300px;
}

.notification.show {
  opacity: 1;
  transform: translateY(0);
}

.notification-icon {
  font-size: 24px;
  margin-right: 15px;
}

.notification-content {
  flex-grow: 1;
}

.notification-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.notification-message {
  font-size: 14px;
}

/* reCapture */
.grecaptcha-badge {
  visibility: hidden;
}
.rules-text {
  color: #4d4d4d;
  text-align: center;
  width: 700px;
  margin: 40px auto;
  font-size: 12px;
}
.rules-text a {
  color: #4d4d4d;
}

/* 警告 */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-content {
  background-color: #111111;
  border: 1px solid #303030;
  padding: 30px;
  border-radius: 8px;
  max-width: 450px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 20px;
}
.modal-content i {
  font-size: 40px;
  color: #616161;
}
.modal-content button {
  width: 100%;
  margin-top: 10px;
}

/* スマホUI */
@media only screen and (max-width: 900px) {
  main {
    margin: 45px auto 0;
  }

  .nav-container {
    min-width: 35px;
    height: calc(100vh - 45px);
    top: 45px;
  }

  .nav-item i {
    margin-right: 0px;
  }

  .nav-container span {
    display: none;
  }

  .nav-container .category-title {
    display: none;
  }
}